.container{
    width: 80%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
a{
    text-transform: none;
    text-decoration: none;
}
.subject-container .wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}

.subject-container .wrapper .card{
    border-radius: 10px;
    position: relative;
    transition: all .4s;
    height: 20rem;
}

.subject-container .wrapper .card .header-img{
    z-index: -1;
    width: 100%;
    height: 100%
}
.subject-container .wrapper .card img{
    width: 100%;
    height: 100%;
}
.subject-container .wrapper .card .card-body{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .95;
    background-color: #fff;
    z-index: 1;
    padding: 1rem;
    border-radius: 10px 10px 0px 0;
    transition: all .4s;
    top: 160px;
}
.subject-container .wrapper .card .card-body .info{
    color: #DB0E15;
    font-size: 2rem;
    font-weight: 500;
}
.btn{
    display: inline-block;
    transform: skewX(-10deg);
    padding: 0.4rem;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1 !important;
}
.btn a{
    color: #fff;
}
.btn-blue{
    background-color: #0094DA;
    color: #fff !important;
}
.subject-container .wrapper .card:hover .card-body{
    top: 130px;
    opacity: .98;
}





.chapter-list{
    padding: 20px;
    display: inline-block;
}
.chapter-list li{
    padding: 5px;
}

.previous-test p{
    color: #fff;
    font-weight: 600;
    padding: 1rem;
    padding-bottom: 0;
}
.previous-test{
    background-color: #0094DA;
    color: #fff;
}
table {
    width: 100%;
    padding: 1rem;
}

th, td {
    text-align: left;
    padding: 8px;
    border-radius: 5px;
    color:#fff;
    font-weight: 600;
}

tr:nth-child(even) {background-color: #add8e6;}


/*student profile */

.label-info{
    font-size: 0.8rem;
    color: #aaa;
}
.student-name{
    font-size: 1.5rem;
}


























