
/*=-=-=-=-=-=-=-=-=-=-=- Quiz intro Start -=-=-=-=-=-=-=-=-=-=-=*/
.quiz-intro {
    padding: 20px;
    margin: 0 0 0 30px;
    background: #fff;
}

.quiz-intro h3 {
    position: relative;
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
}

.quiz-intro h3:after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 30px;
    height: 2px;
    background: #307ad5;
    content: "";
}

.quiz-intro p {
    font-size: 15px;
    line-height: 28px;
    color: #555;
}

.quiz-intro .start-btn {
    display: inline-block;
    padding: 20px 0 20px 0;
}

.quiz-view .time-info {
    font-size: 18px;
    color: #333;
    line-height: 30px;
    padding-bottom: 20px;
}

/*=-=-=-=-=-=-=-=-=-=-=- Quiz intro Start -=-=-=-=-=-=-=-=-=-=-=*/

/*=-=-=-=-=-=-=-=-=-=-=- Quiz Start -=-=-=-=-=-=-=-=-=-=-=*/
.quiz-view {
    background: #f5f5f5;
    padding: 50px 0;
}

.quiz-view .quiz-title {
    padding-bottom: 50px;
}

.quiz-view .quiz-title h2 {
    margin-bottom: 10px;
}

.quiz-view .quiz-title p {
    font-size: 20px;
    line-height: 30px;
    color: #333;
    margin: 0px;
}

.quiz-view .quiz-time {
    display: inline-block;
    width: 100%;
}

.quiz-view .qustion-list {
    padding: 30px 0 0 0;
}

.quiz-view .qustion-list .qustion-slide {
    padding: 13px 0 13px 30px;
    position: relative;
}

.quiz-view .qustion-list .qustion-slide:after {
    position: absolute;
    top: 0px;
    left: 5px;
    height: 100%;
    width: 4px;
    background: #e4e2e2;
    content: "";
}

.quiz-view .qustion-list .qustion-slide .qustion-number {
    display: inline-block;
    line-height: 22px;
    color: #666;
    font-size: 15px;
    position: relative;
}

.quiz-view .qustion-list .qustion-slide .qustion-number.f2x {
    font-size: 30px;
    /* line-height: 35px; */
}
.quiz-view .qustion-list .qustion-slide .qustion-number:after {
    position: absolute;
    top: 2px;
    left: -33px;
    width: 20px;
    height: 20px;
    content: "";
    background: #e4e2e2;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-family: FontAwesome;
    z-index: 1;
    line-height: 20px;
}

.quiz-view .qustion-list .qustion-slide span {
    float: right;
    width: 24px;
    line-height: 24px;
    text-align: center;
    background: #e4e2e2;
    font-size: 12px;
    border-radius: 50%;
}


.quiz-view .qustion-list .qustion-slide .left{
    float: left;
}
.quiz-view .qustion-list .qustion-slide.active:after {
    background: #307ad5;
}

.quiz-view .qustion-list .qustion-slide.active .qustion-number {
    color: #307ad5;
}

.quiz-view .qustion-list .qustion-slide.active .qustion-number:after {
    background: #307ad5;
}

.quiz-view .qustion-list .qustion-slide.active span {
    background: #307ad5;
    color: #fff;
}

.quiz-view .qustion-list .qustion-slide.fill:after {
    background: #00a651;
}

.quiz-view .qustion-list .qustion-slide.fill .qustion-number {
    color: #00a651;
}

.quiz-view .qustion-list .qustion-slide.fill .qustion-number:after {
    background: #00a651;
    content: "\f00c";
}

.quiz-view .qustion-list .qustion-slide.fill span {
    background: #00a651;
    color: #fff;
}

.quiz-view .qustion-main {
    padding: 0 0 0 30px;
}

.quiz-view .qustion-box {
    background: #fff;
    padding: 30px;
}

.quiz-view .qustion-box .qustion {
    border-bottom: solid 2px #e0e0e0;
    line-height: 30px;
    padding-bottom: 10px;
    color: #444444;
    font-size: 18px;
}

.quiz-view .qustion-box .ans {
    padding: 20px 0 0 0;
}

.quiz-view .qustion-box .ans .ans-slide {
    display: block;
    padding-bottom: 10px;
}

.quiz-view .qustion-box .ans .ans-slide .label_radio {
    display: inline-block;
    padding-left: 25px;
    line-height: 30px;
    font-size: 16px;
    color: #444;
    font-weight: normal;
}

.quiz-view .qustion-box .ans .ans-slide .label_radio input {
    position: absolute;
    left: -999999px;
}

.quiz-view .qustion-box .ans .ans-slide label{
    display: inline;

}

.quiz-view .qustion-box .ans .ans-slide input {
    display: inline;
    width: auto;
    height: auto;
    margin-right: 5px;
}
.quiz-view .qustion-box .save-btn {
    display: block;
    padding-top: 15px;
}

.quiz-view .qustion-box .btn-slide {
    display: block;
    padding-top: 30px;
}

/* .quiz-view .qustion-box .btn-slide .btn {
    padding: 5px 15px;
    font-size: 30px;
    text-transform: capitalize;
    margin: 0 15px 0 0;
    background: #307ad5;
    color:  #FFF;
} */

.quiz-view .submit-quiz {
    padding: 30px 0 0 0;
    text-align: right;
}
/*
.quiz-view .submit-quiz .btn {
    text-transform: uppercase;
    background: #00a651;
} */

/*=-=-=-=-=-=-=-=-=-=-=- Quiz End -=-=-=-=-=-=-=-=-=-=-=*/

/*=-=-=-=-=-=-=-=-=-=-=- Quiz Result Start -=-=-=-=-=-=-=-=-=-=-=*/
.quiz-result {
    padding: 20px;
    margin: 0 0 0 30px;
    background: #fff;
}

.quiz-result h3 {
    position: relative;
    padding-bottom: 10px;
    display: inline-block;
    font-family: "Roboto", sans-serif;
}

.quiz-result h3:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: #307ad5;
    content: "";
}

.quiz-result .result-info {
    display: block;
    width: 100%;
    padding: 30px 0 0 0;
}

.quiz-result .result-info .info-slide {
    display: block;
    width: 100%;
    padding-bottom: 10px;
}

.quiz-result .result-info .info-slide p {
    display: block;
    margin: 0;
    font-size: 18px;
    color: #666;
    line-height: 30px;
}

.quiz-result .result-info .info-slide p span {
    float: right;
}

.quiz-result .leaderboard {
    padding: 30px 0 0 0;
}

.quiz-result .leaderboard h3 {
    margin-bottom: 30px
}

.quiz-result .qustion-review {
    display: block;
    padding-bottom: 10px;
}

.quiz-result .qustion-review p {
    display: block;
    margin: 0;
    font-size: 15px;
    color: #666;
    line-height: 24px;
}

.quiz-result .qustion-review p span {
    float: right;
}
.outline{
    border: solid 1px #CCC;
}

.result{
    padding: 0 10px 0 40px;
}
.correct{
    color: #32CD32;
    font-size: 18px;
}
.wrong{
    color: red;
    font-size: 18px;
}
.myAnswer{
    font-size: 12px;
}
/*=-=-=-=-=-=-=-=-=-=-=- Quiz Result End -=-=-=-=-=-=-=-=-=-=-=*/

/*****************btn******************/

.default-btn {
    background-color: #307ad5;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 21px 40px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 1;
    letter-spacing: .5px;
    border-radius: 50px;
}
.default-btn.default-btn-sm{
    padding: 15px 20px;
}
.default-btn.success-btn{
    background: #00a651;
}
.default-btn.danger-btn {
    background: #CA3433;
}
.default-btn:hover {
    background-color: #333;
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .default-btn {
        padding: 14px 30px 14px;
        font-size: 15px;
    }
}

.default-overlay {
    position: relative;
}

.default-overlay:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    right: 0;
    bottom: 0;
}

.text-blue {
    color: #307ad5;
}

